<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
            <tr>
                <td th:text="'ID: ' + ${job.id}"></td>
            </tr>
            <tr>
                <td th:text="'NAME: ' + ${job.name}"></td>
            </tr>
            <tr>
                <td>
                    <a th:href="@{/list/jobs(column='employer',value=${job.employer})}" th:text="'EMPLOYER: ' + ${job.employer}"></a>
                </td>
            </tr>
            <tr>
                <td >
                    <a th:href="@{/list/jobs(column='location',value=${job.location})}" th:text="'LOCATION: ' + ${job.location}"></a>
                </td>
            </tr>
            <tr>
                <td >
                    <a th:href="@{/list/jobs(column='positionType',value=${job.positionType})}" th:text="'POSITION TYPE: ' + ${job.positionType}"></a>
                </td>
            </tr>
            <tr>
                <td >
                    <a th:href="@{/list/jobs(column='coreCompetency',value=${job.coreCompetency})}" th:text="'SKILLS: ' + ${job.coreCompetency}"></a>
                </td>
            </tr>
        </table>
    </th:block>

</div>

</body>
</html>